.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    font-size: 25px;
}
.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
input{
    width: 80%;
    padding:10px;
    font-size: 18px;
    color: brown;
}
button{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}
img{
    width: 30px;
}
.google-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}